@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

:root {
    /*==========primaty color=======*/
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue--photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer-bg: hsl(168, 34%, 41%);
    --Dark-moderate-cyan-footer-bg2: hsl(168, 34%, 41%,.7);
    /*========neutral color=======*/
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body {
   font-size: 18px;
}

.header-font {
    font-family: 'Fraunces', serif;
}
/*==========header=========*/
header {
    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    padding: 2rem 1.5rem;
    position: relative;

    nav {
        display: flex;
        justify-content: space-between;

        img {
            width: 40%;
        }

        .info-ctr {
            width: 30px;

            a {
                display: none;
            }
    
            button {
                display: none;
            }
            
            img {
                width: 100%;
            }
        }
    }
    h1 {
        margin-top: 2.5rem;
        text-align: center;
        color: #fff;
        font-size: 3.3rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    .arrow-down {
        position: absolute;
        top: 55%;
        left: 45%;
    }
}


/*===========main==========*/
main {
    p{
        font-family: 'Barlow', sans-serif;
    }
    h6 {
        font-family: 'Barlow', sans-serif;
    }

    img {
        width: 100%;
    }
    .container {
        .wrapper {
            padding: 4rem .5rem;
            text-align: center;
            position: relative;

            .p-font {
                text-align: center;
                font-size: 1.2rem;
                line-height: 2rem;
                padding-inline: .5rem;
                opacity: .5;
                margin-bottom: 1.3rem;
            }

            a {
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                color: black;
               
            }
           
            .color-div {
                position: absolute;
                width: 35%;
                background-color: var(--Yellow);
                height: 12px;
                top: 83%;
                left: 32.5%;
                border-radius: 20px;
                z-index: -1;
                opacity: .3;
            }

            .red {
                background-color: var(--Soft-red);
            }

        }
        .font-weight {
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 1.4rem;
        }

        .wrp {
            position: relative;
            width: 100%;
        
            // .overlap-img {
            //     position: relative;
            // }
            .overlap-img {
                img P{
                    width: 100%;
                }
            }

            .overlap-p {
                position: absolute;
                top: 68%;
                text-align: center;
                font-size: 1rem;
                padding: .8rem;
                line-height: 1.5rem;

                .capitalize {
                    text-transform: capitalize;
                    
                }
            }

            .p-left {
                color: var(--Dark-desaturated-cyan-graphic-design-text);
            }

            .p-right {
                color: var(--Dark-blue--photography-text);
            }
        }
        
        .margin-top {
            margin-top: -.4rem;
        }     
    }

    /*===========review container=======*/
    .review-ctr { 
        padding: 1rem 0 3rem 0;

        h3 {
            text-transform: uppercase;
            font-size: .9rem;
            text-align: center;
            margin-top: 2.5rem;
            letter-spacing: .25rem;
        }

        .op {
            opacity: .4;
        }
        .feedback-ctr {
            background-color: var(--White);

            .feedback {
                padding: 2rem 1rem;
                // background-color: blueviolet;
                // outline: 1px solid;

                .human-log {
                    width: 55px;
                    height: 55px;
                    margin: 0 auto;
                    

                    img {
                        width: 100%;
                        border-radius: 40px;
                    }
                }

                p {
                    font-size: 1rem;
                    text-align: center;
                    padding: 1rem 1.5rem;
                    line-height: 1.5rem;
                    opacity: .7;
                }

                h5 {
                    text-align: center;
                    margin-bottom: .7rem;
                }

                h6 {
                    text-align: center;
                    font-size: .8rem;
                }
            }
        }
    }

/*===========image container*/
    .image-ctr {

        .mini-logo {
            display: flex;
            flex-direction: row;

            img {
                width: 50%;
            }
        }
    }

    /* =============footer ==============*/

    footer {
        background-color: var(--Dark-moderate-cyan-footer-bg2);
        padding: 3.8rem 0 4.6rem 0;
        width: 100%;

        .fot-logo {
            width: 45%;
            margin: 0 auto;
            margin-bottom: 1.8rem;

            svg {
                width: 100%;
            }

            svg path {
                fill: var(--Dark-desaturated-cyan-graphic-design-text);
            }
        }

        .contact {
            display: flex;
            justify-content: space-around;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 4.5rem;

            p {
                opacity: .5;
                font-size: .95rem;
            }
        }

        .fontawe {
            display: flex;
            width: 50%;
            margin: 0 auto;
            gap: 2rem;

            img {
                width: 10%;
            }
        }
    }
}

@media (min-width: 1024px) {
    body {
        br {
            display: none;
        }
    }
    header {
        background-image: url(./images/desktop/image-header.jpg);
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center top 70%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 2.5rem 4rem;

        .navigation {
            img {
                width: 18%;
            }

            .info-ctr {
                width: 30%;
                display: flex;
                gap: 2.5rem;
                align-items: center;
                justify-content: space-between;
                margin-right: 1.5rem;


                img {
                    display: none;
                }

                a {
                    display: block;
                    font-size: 1.2em;
                    // opacity: .9;
                    color: #fff;
                    font-family: 'Barlow', sans-serif;
                }

                button {
                    display: block;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: .8rem 1.2rem;
                    background-color: var(--White);
                    border: none;
                    border-radius: 50px;
                }
            }
        }

        h1 {
            font-size: 4.7rem;
            letter-spacing: .5rem;
            margin-top: 4.5rem;
        }

        .arrow-down {
            top: 45%;
            left: 48%;
        }
    }


    main {
        .second-page {
            display: flex;
            flex-direction: column;
            height: 1000px;

            .br2 {
                display: block;
            }
            .br1 {
                display: inline;
            }

            .container {
                display: flex;
    
                .photo {
                    width: 50%;

                    img {
                        width: 100%;
                        padding: 1rem;
                    }
                }
                .transform {
                    content: url(./images/desktop/image-transform.jpg);

                }
                .stand-out {
                    content: url(./images/desktop/image-stand-out.jpg);
                }
    
                .wrapper {
                    width: 50%;

                    h2 {
                        font-size: 2.5rem;
                    }

                    .color-div {
                        width: 8.3rem;
                        top: 28.1rem;
                        left: 8rem;
                        opacity: .6;
                    }
                    .red {
                        top: 26.1rem;
                    }
                }

                .padding {
                    padding: 7rem 8.5rem;
                    text-align: left;

                    .p-font{
                        text-align: left;
                        padding: 0;
                        padding-right: 5rem;
                        margin-bottom: 2.8rem;
                    }
                }
            }

            .top {
                height: 50%;
                flex-direction: row-reverse;
            }
            .bot {
                height: 50%;
            }

        }

        .graphic-photography {
            display: flex;

            .wrp {
                width: 50%;

                .design {
                    
                    img {
                        content: url(./images/desktop/image-graphic-design.jpg);
                    }
                }

                .photography {
                   
                    img {
                        content: url(./images/desktop/image-photography.jpg);
                    }
                }

                .overlap-p  {

                    p {
                        padding-inline: 11rem;
                    }
                    
                }
            }

            .margin-top {
                margin-top: 0;
            }
        }


        .review-ctr {
            padding: 4rem 0;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 1.3rem;
            }

            .feedback-ctr {
                display: flex;
                padding: 1rem 3rem;
    
                .feedback {
    
                    p {
                        padding-inline: 3.2rem;
                        margin-bottom: 1.5rem;
                    }

                    h5 {
                        font-size: 1.1rem;
                        font-weight: 900;
                        margin-bottom: .5rem;
                    }

                    h6 {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

