@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /*==========primaty color=======*/
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Dark-blue--photography-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer-bg: hsl(168, 34%, 41%);
  /*========neutral color=======*/
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
}

.header-font {
  font-family: 'Fraunces', serif;
}

/*==========header=========*/
header {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  padding: 2rem 1.5rem;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav img {
  width: 40%;
}

header nav .info-ctr {
  width: 30px;
}

header nav .info-ctr a {
  display: none;
}

header nav .info-ctr button {
  display: none;
}

header nav .info-ctr img {
  width: 100%;
}

header h1 {
  margin-top: 2.5rem;
  text-align: center;
  color: #fff;
  font-size: 3.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

header .arrow-down {
  position: absolute;
  top: 55%;
  left: 45%;
}

/*===========main==========*/
main {
  /*===========review container=======*/
}

main p {
  font-family: 'Barlow', sans-serif;
}

main img {
  width: 100%;
}

main .container .wrapper {
  padding: 4rem .5rem;
  text-align: center;
  position: relative;
}

main .container .wrapper .p-font {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-inline: .5rem;
  opacity: .5;
  margin-bottom: 1.3rem;
}

main .container .wrapper a {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}

main .container .wrapper .color-div {
  position: absolute;
  width: 43.5%;
  background-color: var(--Yellow);
  height: 12px;
  top: 83%;
  left: 28%;
  border-radius: 20px;
  z-index: -1;
  opacity: .5;
}

main .container .font-weight {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

main .container .wrp {
  position: relative;
  width: 100%;
}

main .container .wrp .overlap-img img P {
  width: 100%;
}

main .container .wrp .overlap-p {
  position: absolute;
  top: 68%;
  text-align: center;
  font-size: 1rem;
  padding: .8rem;
  line-height: 1.5rem;
}

main .container .wrp .overlap-p .capitalize {
  text-transform: capitalize;
}

main .container .wrp .p-left {
  color: var(--Dark-desaturated-cyan-graphic-design-text);
}

main .container .wrp .p-right {
  color: var(--Dark-blue--photography-text);
}

main .container .margin-top {
  margin-top: -.3rem;
}

main .review-ctr h3 {
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center;
  margin-top: 2.5rem;
  letter-spacing: .25rem;
}

main .review-ctr .op {
  opacity: .4;
}
/*# sourceMappingURL=app.css.map */