@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /*==========primaty color=======*/
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Dark-blue--photography-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer-bg: hsl(168, 34%, 41%);
  --Dark-moderate-cyan-footer-bg2: hsl(168, 34%, 41%,.7);
  /*========neutral color=======*/
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
}

.header-font {
  font-family: 'Fraunces', serif;
}

/*==========header=========*/
header {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  padding: 2rem 1.5rem;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav img {
  width: 40%;
}

header nav .info-ctr {
  width: 30px;
}

header nav .info-ctr a {
  display: none;
}

header nav .info-ctr button {
  display: none;
}

header nav .info-ctr img {
  width: 100%;
}

header h1 {
  margin-top: 2.5rem;
  text-align: center;
  color: #fff;
  font-size: 3.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

header .arrow-down {
  position: absolute;
  top: 55%;
  left: 45%;
}

/*===========main==========*/
main {
  /*===========review container=======*/
  /*===========image container*/
  /* =============footer ==============*/
}

main p {
  font-family: 'Barlow', sans-serif;
}

main h6 {
  font-family: 'Barlow', sans-serif;
}

main img {
  width: 100%;
}

main .container .wrapper {
  padding: 4rem .5rem;
  text-align: center;
  position: relative;
}

main .container .wrapper .br2 {
  display: none;
}

main .container .wrapper .p-font {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-inline: .5rem;
  opacity: .5;
  margin-bottom: 1.3rem;
}

main .container .wrapper a {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}

main .container .wrapper a:hover {
  cursor: pointer;
}

main .container .wrapper .color-div {
  position: absolute;
  width: 35%;
  background-color: var(--Yellow);
  height: 12px;
  top: 83%;
  left: 32.5%;
  border-radius: 20px;
  z-index: -1;
  opacity: .3;
}

main .container .wrapper a:hover ~ .color-div {
  opacity: 1;
}

main .container .wrapper a:hover ~ .red {
  opacity: 1;
}

main .container .wrapper .red {
  background-color: var(--Soft-red);
}

main .container .font-weight {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

main .container .wrp {
  position: relative;
  width: 100%;
}

main .container .wrp .overlap-img img P {
  width: 100%;
}

main .container .wrp .overlap-p {
  position: absolute;
  top: 68%;
  text-align: center;
  font-size: 1rem;
  padding: .8rem;
  line-height: 1.5rem;
}

main .container .wrp .overlap-p .capitalize {
  text-transform: capitalize;
}

main .container .wrp .p-left {
  color: var(--Dark-desaturated-cyan-graphic-design-text);
}

main .container .wrp .p-right {
  color: var(--Dark-blue--photography-text);
}

main .container .margin-top {
  margin-top: -.4rem;
}

main .review-ctr {
  padding: 1rem 0 3rem 0;
}

main .review-ctr h3 {
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center;
  margin-top: 2.5rem;
  letter-spacing: .25rem;
}

main .review-ctr .op {
  opacity: .4;
}

main .review-ctr .feedback-ctr {
  background-color: var(--White);
}

main .review-ctr .feedback-ctr .feedback {
  padding: 2rem 1rem;
}

main .review-ctr .feedback-ctr .feedback .human-log {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

main .review-ctr .feedback-ctr .feedback .human-log img {
  width: 100%;
  border-radius: 40px;
}

main .review-ctr .feedback-ctr .feedback p {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
  opacity: .7;
}

main .review-ctr .feedback-ctr .feedback h5 {
  text-align: center;
  margin-bottom: .7rem;
}

main .review-ctr .feedback-ctr .feedback h6 {
  text-align: center;
  font-size: .8rem;
}

main .image-ctr .mini-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .image-ctr .mini-logo img {
  width: 50%;
}

main footer {
  background-color: var(--Dark-moderate-cyan-footer-bg2);
  padding: 3.8rem 0 4.6rem 0;
  width: 100%;
}

main footer .fot-logo {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 1.8rem;
}

main footer .fot-logo svg {
  width: 100%;
}

main footer .fot-logo svg path {
  fill: var(--Dark-desaturated-cyan-graphic-design-text);
}

main footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4.5rem;
}

main footer .contact p {
  opacity: .5;
  font-size: .95rem;
}

main footer .contact p:hover {
  color: var(--White);
  cursor: pointer;
}

main footer .fontawe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  gap: 2rem;
}

main footer .fontawe svg {
  width: 10%;
}

main footer .fontawe svg:hover path {
  fill: var(--White);
  cursor: pointer;
}

@media (min-width: 1024px) {
  body br {
    display: none;
  }
  header {
    background-image: url(./images/desktop/image-header.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center top 70%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    padding: 2.5rem 4rem;
  }
  header .navigation img {
    width: 18%;
  }
  header .navigation .info-ctr {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 1.5rem;
  }
  header .navigation .info-ctr img {
    display: none;
  }
  header .navigation .info-ctr a {
    display: block;
    font-size: 1.2em;
    color: #fff;
    font-family: 'Barlow', sans-serif;
  }
  header .navigation .info-ctr .btn {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
  header .navigation .info-ctr .btn button {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .8rem 1.2rem;
    background-color: var(--White);
    border: none;
    border-radius: 50px;
  }
  header .navigation .info-ctr .btn button:hover {
    background-color: transparent;
    color: #fff;
  }
  header h1 {
    font-size: 4.7rem;
    letter-spacing: .5rem;
    margin-top: 4.5rem;
  }
  header .arrow-down {
    top: 45%;
    left: 48%;
  }
  main {
    /*=============footer==========*/
  }
  main .second-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1000px;
  }
  main .second-page .br2 {
    display: block;
  }
  main .second-page .br1 {
    display: inline;
  }
  main .second-page .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .second-page .container .photo {
    width: 50%;
  }
  main .second-page .container .photo img {
    width: 100%;
    padding: 1rem;
  }
  main .second-page .container .transform {
    content: url(./images/desktop/image-transform.jpg);
  }
  main .second-page .container .stand-out {
    content: url(./images/desktop/image-stand-out.jpg);
  }
  main .second-page .container .wrapper {
    width: 50%;
  }
  main .second-page .container .wrapper h2 {
    font-size: 2.5rem;
  }
  main .second-page .container .wrapper .color-div {
    width: 8.3rem;
    top: 28.1rem;
    left: 8rem;
    opacity: .6;
  }
  main .second-page .container .wrapper .red {
    top: 26.1rem;
  }
  main .second-page .container .padding {
    padding: 7rem 8.5rem;
    text-align: left;
  }
  main .second-page .container .padding .p-font {
    text-align: left;
    padding: 0;
    padding-right: 5rem;
    margin-bottom: 2.8rem;
  }
  main .second-page .top {
    height: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main .second-page .bot {
    height: 50%;
  }
  main .graphic-photography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .graphic-photography .wrp {
    width: 50%;
  }
  main .graphic-photography .wrp .design img {
    content: url(./images/desktop/image-graphic-design.jpg);
  }
  main .graphic-photography .wrp .photography img {
    content: url(./images/desktop/image-photography.jpg);
  }
  main .graphic-photography .wrp .overlap-p p {
    padding-inline: 11rem;
  }
  main .graphic-photography .margin-top {
    margin-top: 0;
  }
  main .review-ctr {
    padding: 4rem 0;
  }
  main .review-ctr h3 {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
  main .review-ctr .feedback-ctr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 3rem;
  }
  main .review-ctr .feedback-ctr .feedback p {
    padding-inline: 3.2rem;
    margin-bottom: 1.5rem;
  }
  main .review-ctr .feedback-ctr .feedback h5 {
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: .5rem;
  }
  main .review-ctr .feedback-ctr .feedback h6 {
    font-size: .8rem;
  }
  main .image-ctr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .image-ctr .mini-logo .milkbottle {
    content: url(./images/desktop/image-gallery-milkbottles.jpg);
  }
  main .image-ctr .mini-logo .orange {
    content: url(./images/desktop/image-gallery-orange.jpg);
  }
  main .image-ctr .mini-logo .cone {
    content: url(./images/desktop/image-gallery-cone.jpg);
  }
  main .image-ctr .mini-logo .sugar-cube {
    content: url(./images/desktop/image-gallery-sugarcubes.jpg);
  }
  main footer .fot-logo {
    width: 20rem;
  }
  main footer .contact {
    width: 40rem;
  }
  main footer .contact p {
    font-size: 1.2rem;
  }
  main footer .fontawe {
    width: 11rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main footer .fontawe svg {
    width: 2rem;
  }
}
/*# sourceMappingURL=app.css.map */